@font-face {
    font-family: "Bahnschrift-bold";
    src: url('../fonts/Bahnschrift-10.TTF') format('truetype');
}
@font-face {
    font-family: "Karantina-regular";
    src: url('../fonts/Karantina-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Karantina-Bold";
    src: url('../fonts/Karantina-Bold.ttf') format('truetype');
}
.header-default {
  max-width: 100%;
  border-bottom: 1px solid var(--color-border);
  background-color: rgb(0 0 0);
  color: #fff;
  font-size: 12px;
  z-index: 99;
  position: relative;
}
.mainmenu-nav .mainmenu li.has-droupdown .submenu {
    min-width: 140px;
    padding: 12px 10px;
    transition: 0.3s;
}
.alignwide {
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: 550px !important;
    width: auto;
    margin: auto !important;
}
.bg-transparent {

    font-family: 'Bahnschrift-Bold', sans-serif;
    height: 650px !important;
    display: block !important;
    background: url('../images/bc-slide.jpg');
    background-size: cover;
    background-position: top;
}
.slider-area-about-us {

    font-family: 'Bahnschrift-Bold', sans-serif;
    height: 650px !important;
    padding-top: 10%;
    background: url('../images/bg-image-12.jpg');
    background-size: cover;
    background-position: top;
    transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
   
}
.slider-area-about-us:hover {
    background-position: 0 10px 0 15px;
    transform: scale(1.05);
}
.slider-area-service {

    font-family: 'Bahnschrift-Bold', sans-serif;
    height: 650px !important;
    padding-top: 10%;
    background: url('../images/bg-image-1.jpg');
    background-size: cover;
    background-position: top;
    transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
  
}
.slider-area-service:hover {
    background-position: 0 10px 0 15px;
    transform: scale(1.05);
}
[data-black-overlay]:before {
    background-color: #0000008a !important;
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    background: #171717 !important;
}
.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #ff5722;
    border-top-left-radius: calc(-0.7rem - 1px);
    border-top-right-radius: calc(-0.7rem - 1px);
    background: #ff5722 !important;
}
#darkmode {
  border: 0 none;
  padding: 0;
  margin-left: 10px;
  width: 40px;
  background: #323232;
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  border-radius: 100%;
}
.slider-area .inner a.btn-default.btn-border, .slider-area .inner button.btn-default.btn-border {
    border-color: #ff5722 !important;
}
.slider-area .inner a.btn-default.btn-border:hover, .slider-area .inner button.btn-default.btn-border:hover {
  background: #ff5722 !important;
}
.display-two {
    font-size: 75px !important;
    margin-top: 5%;
    
}
.slider-style-1 .inner .title {
    font-family: 'Bahnschrift-Bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: -4px;
    margin-bottom: 25px;
    display: inline-block;
}
.CalltoActionTwo .title {
    font-family: 'Bahnschrift-Bold', sans-serif;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-shadow: 0px 2px 10px #005fd1;
}
.mainmenu-nav .mainmenu > li > a {
    font-family: 'Bahnschrift-Bold', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
}
.rn-default-tab .tab-button .react-tabs__tab {
    padding: 18px 18px !important;
    margin: 0;
}
.card-box.card-style-1 {
    transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
    border: 1px solid #ff5722;
}
.card-box.card-style-1:hover {
    transform: scale(1.05);
    cursor: pointer;
    border: 1px solid #ff5722;
}
*, *::before, *::after {
    box-sizing: border-box; /* Too much math below to be concerned with standard CSS Box Model element dimensions calculations. Let's not have to account for padding/margins/borders on anything here. */
  }
  
  a.btn-default, button.btn-default {
    padding: 0 28px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    border-radius: 8px;
    background-color: transparent;
    background: linear-gradient(95deg, #f44336 15%, #ffc107 45%, #de0f00 75%, #f44336 100%) 95%/200% 100%;
    transition-duration: 300ms;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    text-shadow: var(--shadow-light);
    display: inline-block;
    height: 50px;
    line-height: 47px;
    letter-spacing: 0.5px;
    width: auto;
}
  
  .carousel_wrapper {
    position: relative;
    width: 320px;
    margin: 0 auto 0 auto;
    perspective: 1000px;
  }
  
  .carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(-360deg) translateZ(-412px); /* add reverse transformation from the slides */
    animation: swirl 40s steps(10000, end) infinite; /* run `swirl` animation (defined at end of CSS) infitely, with animation lasting 40 seconds, and 10,000 steps between the FROM and TO values in the animation for a smooth rotation */
  }
  
  .slide {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 300px;
    height: 187px;
  }
  
  .slide img {
    width: 320px;
    height: 215px;
  }
  
  
  /*
  9 Slides total: 360 Degrees (full circle) --> 360/9 = 40 --> our increment for rotation
  
  Some math. Consider how the carousel will be set up. It's going to be a 3D circle, like an orbit. The orientation will be such that it would be like setting a ring down on a table, then bending down and looking at the ring head on from the edge of the table. The main "front" image will be entirely front-facing. The other images will be rotated slightly to make a full circle. You could sketch this out in 2D from a bird's eye view, and you'd end up with a picture like the following:
  
  https://cl.ly/image/2P3E1U0W0c29
  
  Each triangle/piece would be a slide, hence 9 pieces. That being said, let's do some calculations, but we'll use the dimensions of our elements rather than those in the picture.
  
  So, we're rotating all the slides in 40º increments relative to each other, because 360º makes a full circle, and we have 9 elements: 360/9 = 40
  
  In the picture above, we want to find the radius of the circle (which isn't exactly a circle because it's made up of triangles). So we can cut each triangle in half and solve for `r` (radius). We can solve for `r` using some geometry and our own elements' dimensions. 
  
  The width of the slides is 300px. We're going to split those triangles in half and use the TANGENT function in geometry/trigonemty to solve for `r`. And since we're splitting each of the 9 triangles (the slides) in half for this, we need to account for the fact that our key angle is now going to be 20º and not 40º. We can solve for `r` by taking our smaller triangles' width (150px) and dividing by the tangent of 20º (in degrees, not radians). So:
  
              150
     r =  -----------
            tan(20º)
  
  Here's a screenshot of me doing the calculations in JavaScript, right in the browser console!
  
  Math things: https://cl.ly/image/1t0j1V2Y2l2Z
  
  So, `r` is (about) 412px long! This means we need to TRANSLATE the slides in the Z 3-dimensional plane by 412px. This should be done AFTER the rotateY transformation.
  */
  
  .slide.one {
    transform: rotateY(0deg) translateZ(412px);
  }
  .slide.two {
    transform: rotateY(40deg) translateZ(412px);
  }
  .slide.three {
    transform: rotateY(80deg) translateZ(412px);
  }
  .slide.four {
    transform: rotateY(120deg) translateZ(412px);
  }
  .slide.five {
    transform: rotateY(160deg) translateZ(412px);
  }
  .slide.six {
    transform: rotateY(200deg) translateZ(412px);
  }
  .slide.seven {
    transform: rotateY(240deg) translateZ(412px);
  }
  .slide.eight {
    transform: rotateY(280deg) translateZ(412px);
  }
  .slide.nine {
    transform: rotateY(320deg) translateZ(412px);
  }
  
  /*
  CSS3 ANIMATION
  -------------------
  Simply rotates the carousel around the Y axis by using rotateY and starting at initial value, -360º, and going to final value 0º, then resetting.
  */
  
  @keyframes swirl {   
    from {
      transform: rotateY(-360deg);
    }
    to {
      transform: rotateY(0deg);
    }
  } 
  @media screen and (max-width:1024px){
    .carousel_wrapper {
        display: none;
    }
  }
  @media screen and (max-width:680px){
    .display-two {
        font-size: 35px !important;
        margin-top: 5%;
    }
  }
  @media screen and (max-width:480px){
    .rn-default-tab .tab-button .react-tabs__tab {
        width: 50%!important;
    }
    .slider-area-about-us {
      background-position: left;
  }
  }